.card-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #424141;
}

a {
    text-decoration: none;
}

.search-div {
    width: 100%;
}

.form-control {
    width: 100%;
    width: 55%;
}

.search-span {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.search-span form {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

select {
    width: 70%;
}

.cars-list-container {
    padding-top: 100px;
}

.card {
    /* cursor: pointer; */
    opacity: .8;
}

.card:hover {
    opacity: .9;
}

.no-results {
    text-align: center;
    margin-top: 50px;
    opacity: .6;
    display: none;
    height: 72vh;
}

.loader-gif {
    height: 70vh;
    display: flex;
    justify-content: center;
}

.loader-gif-car {
    /* height: 70vh; */
    display: flex;
    justify-content: center;
}

/* .modal-body {
    width: 70vw;
} */