<div>
    <h2>{{ pageTitle }}</h2>
    <div class="cars-list">
        <div class="container py-3">
            <div class="card">
            <div class="row ">
                <div class="col-md-6">
                    <img src="../../../assets/images/asphalt.jpg" class="w-100">
                </div>
                <div class="col-md-6 px-3">
                    <div class="card-block px-3">
                        <span class="car-make">
                            <h3>Toyota, Mazda</h3>
                        </span>
                        <span class="description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </span>
                        <span class="car-color">
                            <b>Color: </b>Silver
                        </span>
                        <span class="car-condition">
                            <b>Condition: </b>new
                        </span>
                        <span class="rating">
                            <b>Rating: </b>4.2
                        </span>
                        <span class="car-price">
                            <b>Price: </b>ksh.2,000,000
                        </span><br>
                        <button class="purchase-car btn btn-primary">Get Car</button>
                    </div>
                </div>
        
                </div>
            </div>
        </div>
    </div>
</div>