.card-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.edit-action {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top: 20px;
}

.edit-action button {
    width: 45%;
}