<div class="features-section">
  <form id="make-form" [formGroup]="searchCarForm" (ngSubmit)="searchCar()">
    <span class="make-top">
      <span class="make-top-make">
        <label for="option">Make</label>
        <select
          #make
          formControlName="make"
          id="make-option"
          class="form-control form-control-sm"
          (blur)="onBlurMake(make.value)">
          <option value="Toyota">Toyota</option>
          <option value="Subaru">Subaru</option>
          <option value="Mazda">Mazda</option>
          <option value="Ford">Ford</option>
          <option value="Honda">Honda</option>
          <option value="Nissan">Nissan</option>
        </select>
      </span>
      <span class="make-top-make">
        <label for="option">Model</label>
        <select formControlName="model" id="make-option" class="form-control form-control-sm">
          <option *ngFor='let model of models' value={{model.Model_Name}}>{{model.Model_Name}}</option>
        </select>
      </span>
      <span class="make-top-price">
        <label for="option">Price</label><br>
        <span class="make-top-select">
          <input type="number" placeholder="Min" class="form-control" formControlName="min" ngModel
          required/>
          <input type="number" placeholder="Max" class="form-control" formControlName="max" ngModel
          required/>
        </span>
      </span>
    </span>
    <span class="make-bottom">
      <span class="make-bottom-color">
        <label for="color">Color</label><br>
        <select formControlName="color" id="color" class="form-control form-control-sm">
          <option value="color">Any Color</option>
          <option value="blue">Blue</option>
          <option value="silver">Silver</option>
        </select>
      </span>
      <span class="make-bottom-condition">
        <label for="condition">Condition</label><br>
        <select formControlName="condition" id="condition" class="form-control form-control-sm">
          <option value="used">Brand New</option>
          <option value="brand-new">Used</option>
        </select>
      </span>
    </span>
    <span class="submit-span">
      <a href="#" routerLink="/filtered-cars">
        <button id="submit" class="btn btn-primary btn-lg">Search Now</button>
      </a>
    </span>
  </form>
</div>