.features-section {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/images/giphy.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    opacity: .8;
    padding-top: 100px;
}

label {
    font-weight: bold;
}

.submit-span {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

select, option {
    width: 90%;
}

#make-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    /* justify-content: center; */
    height: 100%;
}

.make-top, .make-bottom {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.make-top-make {
    display: flex;
    flex-direction: column;
}

#min-price {
    margin-right: 5px;
}

.make-top-select {
    display: flex;
}

.make-top-make, .make-top-price, .make-bottom-color, .make-bottom-condition {
    width: 50%;
}
