<div class="features-section">
  <form id="make-form">
    <span class="make-top">
      <span class="make-top-make">
        <label for="option">Make</label>
        <select name="make-option" id="make-option" class="form-control form-control-sm">
          <option value="any-make">Any Make</option>
          <option value="any-make">Toyota</option>
          <option value="any-make">Subaru</option>
        </select>
      </span>
      <span class="make-top-price">
        <label for="option">Price</label><br>
        <span class="make-top-select">
          <select name="min-price" id="min-price" class="form-control form-control-sm">
            <option value="min-price">Min</option>
            <option value="one-mil">ksh.1,000,000</option>
            <option value="two-mil">ksh.2,000,000</option>
          </select>
          <select name="max-price" id="max-price" class="form-control form-control-sm">
            <option value="max-price">Max</option>
            <option value="one-mil">ksh.1,000,000</option>
            <option value="two-mil">ksh.2,000,000</option>
          </select>
        </span>
      </span>
    </span>
    <span class="make-bottom">
      <span class="make-bottom-color">
        <label for="color">Color</label><br>
        <select name="color" id="color" class="form-control form-control-sm">
          <option value="color">Any Color</option>
          <option value="blue">Blue</option>
          <option value="silver">Silver</option>
        </select>
      </span>
      <span class="make-bottom-condition">
        <label for="condition">Condition</label><br>
        <select name="condition" id="condition" class="form-control form-control-sm">
          <option value="used">Brand New</option>
          <option value="brand-new">Used</option>
        </select>
      </span>
    </span>
    <span class="submit-span">
      <button id="submit" class="btn btn-primary btn-lg">Search Now</button>
    </span>
  </form>
</div>