<div>
  <router-outlet></router-outlet>
  <app-nav-bar></app-nav-bar>
  <div class="signup-container">
    <form class="simple-login-container">
      <h2>Sign Up</h2>
      <div class="row">
          <div class="col-md-12 form-group">
              <input type="text" class="form-control" placeholder="Username">
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 form-group">
              <input type="password" placeholder="Enter your Password" class="form-control">
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 form-group">
              <input type="submit" class="btn btn-block btn-login" placeholder="Enter your Password" >
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              Already have an account? <a routerLink="/login">Log In</a>
          </div>
      </div>
    </form>
  </div>
  <app-footer></app-footer>

</div>