<div>
  <router-outlet></router-outlet>
  <app-nav-bar></app-nav-bar>
  <div class="sell-container">
    <form id="make-form" [formGroup]="sellCarForm" (ngSubmit)="sellCar()">
      <h2>Enter car information</h2>
      <span class="error-span" *ngIf="error">{{ error }}</span><br />

      <span class="make-top">
        <span class="make-top-make">
          <label for="option">Make</label>
          <select #make formControlName="make" id="make-option" class="form-control form-control-sm" (blur)="onBlurMake(make.value)">
            <option value="Toyota">Toyota</option>
            <option value="Subaru">Subaru</option>
            <option value="Mazda">Mazda</option>
            <option value="Ford">Ford</option>
            <option value="Honda">Honda</option>
            <option value="Nissan">Nissan</option>
          </select>
        </span>
        <span class="make-top-price">
          <label for="option">Model</label><br>
          <select formControlName="model" id="model" class="form-control form-control-sm">
            <option *ngFor='let model of models' value={{model.Model_Name}}>{{model.Model_Name}}</option>
          </select>
        </span>
      </span>
      <span class="make-bottom">
        <span class="make-bottom-color">
          <label for="color">Color</label><br>
          <select formControlName="color" id="color" class="form-control form-control-sm">
            <option value="color">Colored</option>
            <option value="blue">Black</option>
            <option value="silver">White</option>
          </select>
        </span>
        <span class="make-bottom-condition">
          <label for="condition">Condition</label><br>
          <select formControlName="condition" id="condition" class="form-control form-control-sm">
            <option value="new">Brand New</option>
            <option value="used">Used</option>
          </select>
        </span>
      </span>
      <span class="make-bottom">
        <span class="make-bottom-color">
          <label for="color">Picture</label><br>
          <input type="file">
        </span>
        <span class="make-bottom-condition">
          <label for="condition">Price</label><br>
          <input type="number" formControlName="price" class="form-control" placeholder="Enter Price" ngModel
            required><br />
          <div
            *ngIf="sellCarForm.controls['price'].invalid && (sellCarForm.controls['price'].dirty || sellCarForm.controls['price'].touched)"
            class="alert alert-danger">
            <div *ngIf="sellCarForm.controls['price'].errors.required">
              Price is required.
            </div>
          </div>
        </span>
      </span>
      <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
        placeholder="Enter Description" rows="3" ngModel required>
      </textarea><br />
      <div
        *ngIf="sellCarForm.controls['description'].invalid && (sellCarForm.controls['description'].dirty || sellCarForm.controls['description'].touched)"
        class="alert alert-danger">
        <div *ngIf="sellCarForm.controls['description'].errors.required">
          Description is required.
        </div>
      </div>
      <span class="submit-span">
        <button id="submit" class="btn btn-primary btn-lg" [disabled]="sellCarForm.pristine || sellCarForm.invalid">Post
          Car</button>
      </span>
    </form>
  </div>
  <app-footer></app-footer>

</div>