<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/racing.png" alt="A tyre" id="title-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/welcome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About Us</a>
            </li>
        </ul>
        <div class="mid">
            <a routerLink="/sell"><button type="button" class="btn btn-outline-light">SELL CAR</button></a>
            <a routerLink="/all-cars"><button type="button" class="btn btn-success">All CARS</button></a>
        </div>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-login">Dealer Login</a>
                </li>
            </ul>
        </span>
    </div>
</nav>