<router-outlet></router-outlet>
<app-nav-bar></app-nav-bar>
<div class="about-user-container">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, ratione. Aut aliquid consectetur architecto, quasi illum optio debitis culpa esse voluptas dolorem necessitatibus corporis molestias, nulla perferendis totam voluptatum, quam eaque tenetur tempore distinctio id sit rem voluptatibus modi. Eveniet quis harum ipsam magni esse laborum pariatur non illo delectus perferendis. Tempore, a aliquam perferendis repudiandae id nam enim. Voluptates alias ullam quidem quasi, sapiente dolore eius perspiciatis porro rerum, reiciendis explicabo maxime saepe animi illum fugiat minus est modi? Consequatur tempora, eos et illo nisi eaque dolore iure deleniti eum sit necessitatibus iste corrupti debitis natus sunt molestiae quod.</p>
</div>
<app-footer></app-footer>
