/* You can add global styles to this file, and also import other style files */
.error-span {
    background: #F8D7DA;
    color: #761C29;
    border: 1px solid #fdbec5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: width 2s;
}